*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #7CC6FE;
}
.top{
    padding: 0 15px;
    width: 100%;
    display:block;
    position: relative;
    overflow:auto;
}
.header{
    height: 100%;

}

.header #header-left,.header #header-middle{
    float: left;
    flex: 1 1 auto;

}
.header #header-right{
    float: right;
}
.top div.header-left{
    border-style: none;
}
.top .header #input-1{
    width: 308px;
    height: 33px;
    border-radius: 99px;
    padding-left: 15px;
    border-style:solid;
}
.top .header .form img{
    width: 15px;
    margin-bottom: -3px;
    margin-left: -30px;
}
.top #header-left{
    margin-top: 15px;
    padding-right: 300px;
}
.content{
    position: relative;
}
.top #header-middle img{
    width: 90px;
    padding-top: 15px;  
}
img{
    max-width: 100%;
    max-height:100%;
}
/* menu */
.menu{
   margin: 0;
   width:100%;
   height: 40px;
   background-color: black;
   display: block;
}
.menu .list{
    margin:0 auto;
    padding-top: 10px;

}
.menu .list ul{
    text-align: center;
    margin: 0;
}
.menu .list li{
    display: inline-block;
    padding-right: 10px;
    font-family: "Noto Sans", sans-serif;
    font-size: .8em;
    
}
.menu .list li a{
    text-decoration: none;
    color: white;
    font-size: 12.8px;
}
.menu .list .sub-tapchi{
    width:800px;
    height: 275px;
    position: absolute;
    top:105px;
    left:287px;
    display: none;
    border: 2px solid gray;
    border-radius: 20px;
    z-index: 10000;
    background:white;
    font-size: 12.92px;
}
.menu .list .sub-tapchi .item{
    width: 22%;
    float: left;
    margin-top :30px;
    margin-left:10px;
    margin-right:10px;
}
.menu .list li:hover .sub-tapchi{
    display: block;
}
.menu .list .CuaHang{
    display: none;
    width: 200px;
    position: absolute;
    z-index: 10000;
    border:2px solid gray;
    background:white;
    padding: 20px;
    top:105px;
    border-radius: 20px;
}
.menu .list li:hover .CuaHang{
    display: table;
}



.menu .link{
    float: right;
    padding-left:0;
    padding-right: 30px;
    margin-top: -25px;
    width: 215px;
}
.menu .link li{
    list-style: none;
    display: inline;
    margin-right: -4px;
}
.menu .link ul{
    margin: 0;
    padding-right: 0;
}
.menu .link ul li{
    padding: 5px;
    border: 2px solid white;
    border-radius: 100px;
    width: 33px;
    height: 33px;
    margin-right: 2px;
}
.menu .link ul{
    margin-top: 8px;
}
.menu .fa,.menu .fab{
    color: white;
}
/* content */
.content{
    width: 100%;
    margin-top:10px;
    display: inline-block;
}
.content .slideshow{
max-width: 1220px;
height:480px;
margin-left: auto;
margin-right:auto;
}
.content .slideshow .left-slideshow{
    max-width: 66.67%;
    width: 64.5%;
    border: 2px solid gray;
    float: left;
    max-height: 444px;
}
.content   .slideshow .dot.active{
    background: black;
}
.content .slideshow .right-TapChi{
    padding: 0 15px 30px;
    max-width: 33.33%;
    width:30%;
    height:441px;
    background-color: aqua;
    float: left;
}
.content .slideshow img{
    max-width: 783px;
    height: 441px;
}
.content .left-slideshow .dot{
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color:gray   ;
    border-radius: 50%;
    border:2px solid gray;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot-ic .dot:hover{
    background-color: black ;
}
.img{
    display: none;
}
.content .right-TapChi{
    padding:10px;
    margin:0 20px;
}
.content .choose{
    width: 100%;
    height:45px;
    text-align: center;
}
.content .choose a{
    text-decoration: none;
    border-radius: 99px;
    border: 2px solid black;
    text-decoration: none;
    padding: 10px;
}
.content .product{
    margin: 0 auto;
    width: 100%;
    max-width: 1220px;
}
.clear{
    clear: both;
}
.content .product .row{
    margin-bottom: 30px;
    width: 100%;
    float: left;

}
.content .product .row .link{
    width:25%;
    height: 377px;
    float:left;
    display:inline-block;
}
.content .product .row .link img{
    width:100%;
}
.content .product .box-product {
    height: 377px;
    margin-bottom:30px;
}
.content .product .row .wrap-image{
    width: 75%;
    float: left;
    overflow: hidden;
    
}
.content .product .row .wrap-image #box-wrap-1,.content .product .row .wrap-image .box-wrap{
    width: 2500px;
    box-shadow: 0 -150px 15px 0 rgba(0,0,0,0.3);
    transition: all 0.5s;
}

.content .product .row .img-tshirt{
    width: 240px;
    float: left;
    padding:0 1px;
    position: relative;
    display: inline
}
.contet .product .row .image .box-text{
    text-align:center;
}
.content .product .row .box-image a{
    text-decoration: none;
}
.content .product .row .img-tshirt .box-text{
    text-align:center;
}
.content .product .box-product{
    margin-top:15px;
}
/* footter */
.footer{
    width: 100%;
    background: gray;
    position: absolute;
    padding: 15px;
}
.footer .container .icon-paymen{
    margin:0 auto;
    width:80%;
    text-align:center;
}
.footer .container li{
    display: inline-block;
    margin-right: 20px;
}
.footer .container .link-page{
    text-align:center;
}
.footer .container .adddress{
    text-align:center;
}